/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.nav-social {
	font-size: 15px;
	line-height: 21px;
	.icon {
		font-size: 87px;
		margin-bottom: -17px;
	}
}

.drop-menu {
	.nav-social {
		.icon {
			left: 25px;
		}
		margin-bottom: -10px;
	}
}

.s--contacts {
	.nav-social {
		position: absolute;
		bottom: 52px;
		.icon {
			left: -25px;
		}
	}
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--contacts {
		.nav-social {
			left: 60px;
		}
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--contacts {
		.nav-social {
			left: 40px;
		}
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



