/*
	styles for Phone
 -------------------------------------------------------------------- */

.nav-social {
	font-size: 16px;
	line-height: 22px;
}

.drop-menu {
	.nav-social {
		margin-bottom: -12px;
		a::before {
			left: 35px;
			font-size: 106px;
		}
	}
}

.s--contacts {
	.nav-social {
		order: 2;
		margin-bottom: 36px;
		a::before {
			left: -26px;
			font-size: 91px;
			margin-bottom: -20px;
		}
	}
}

