.nav-social {
	font-weight: bold;
	a {
		text-decoration: none;
		color: black;
		&:hover span {
			text-decoration: underline;
		}
		&::before {
			display: block;
		}
	}
}

.drop-menu {
	.nav-social {
		display: flex;
  	justify-content: flex-end;
	}
}

