.nav-social {
	font-weight: bold;
	a {
		text-decoration: none;
		color: black;
		&:hover span {
			text-decoration: underline;
		}
	}
	.icon {
		display: block;
	}
}

.drop-menu {
	.nav-social {
		ul {
			display: flex;
    	justify-content: flex-end;
		}
	}
}

