.s--contacts {
	font-weight: 300;
	a {
		color: black;
		&:hover {
			color: black;
		}
	}
}

.contacts-column {
	position: relative;
}

.contacts-left {
	background: #e0dfdd;
}

.contacts-title {
	line-height: 1;
	color: white;
}

.contacts-text {
	white-space: pre-line;
}

.contacts-path {
	font-style: italic;
}

.contacts-mode {
	label {
		display: block;
		font-weight: bold;
	}
	div {
		white-space: pre-line;
	}
}

.contacts-copyright {
	color: #787878;
}

.contacts-map {
	overflow: hidden;
}

.map {
	@include stretch-x;
	top: 0;
	bottom: -40px;
	background: #f4f1e1;
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 40px;
		background-size: 100% 100%;
		background-image: inline('#{$path-inline}/spinner-primary.svg');
	}
}