/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--contacts {
	display: flex;
}

.contacts-column {
	// height: 650px;
	height: 720px;
}

.contacts-title {
	left: -6px;
	margin-bottom: 39px;
}

.contacts-address {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 12px;
}

.contacts-text {
	font-style: italic;
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 20px;
}

.contacts-path {
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 42px;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.contacts-mode {
	font-size: 15px;
	line-height: 22px;
	div {
		margin-top: 8px;
		font-size: 20px;
		line-height: 32px;
	}
	div + div {
		margin-top: 0;
	}
}

.contacts-map {
	@include stretch;
}

.contacts-meta {
	font-size: 13px;
	line-height: 18px;
	position: absolute;
	z-index: 2;
	bottom: 29px;
}

.contacts-disklaymer {
	font-size: 10px;
	line-height: 14px;
	position: absolute;
	z-index: 2;
	bottom: 29px;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	$col-left: fluid(516px, $layout-max-width);
	$col-right: 100% - $col-left;

	.contacts-left {
		width: $col-left;
		padding: 36px 60px;
	}

	.contacts-right {
		width: $col-right;
	}

	.contacts-title {
		font-size: 71px;
	}

	.contacts-copyright {
		left: 60px;
	}

	.contacts-policy {
		left: 40px;
	}

	.contacts-partner {
		right: 62px;
	}

	.contacts-copyright {
		bottom: 109px;
	}

	.contacts-disklaymer {
		max-width: 460px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	$col-left: fluid(350px, 855px);
	$col-right: 100% - $col-left;

	.contacts-left {
		width: $col-left;
		padding: 36px 40px;
	}

	.contacts-right {
		width: $col-right;
	}

	.contacts-title {
		font-size: 51px;
	}

	.contacts-copyright {
		left: 40px;
	}

	.contacts-policy {
		left: 20px;
	}

	.contacts-partner {
		right: 20px;
	}

	.contacts-copyright {
		bottom: 137px;
	}

	.contacts-disklaymer {
		max-width: 300px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



