.s--contacts {
	font-weight: 300;
	a {
		color: black;
		&:hover {
			color: black;
		}
	}
}

.contacts-column {
	position: relative;
}

.contacts-left {
	background: #e0dfdd;
}

.contacts-title {
	line-height: 1;
	color: white;
}

.contacts-text {
	white-space: pre-line;
}

.contacts-path {
	font-style: italic;
	display: inline-block;
}

.contacts-mode {
	font-weight: bold;
	div {
		font-weight: 300;
		white-space: pre-line;
	}
}

.contacts-copyright,
.contacts-disklaymer {
	color: #787878;
}

.contacts-map {
	overflow: hidden;
}

.map {
	@include stretch-x;
	top: 0;
	bottom: -40px;
	background: #f4f1e1;
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 40px;
		background-size: 100% 100%;
		background-image: inline('#{$path-inline}/spinner-primary.svg');
	}
}

.map-marker {
	position: relative;
}

.map-marker-img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 91px;
	height: 47px;
	.leaflet-zoom-anim & {
		opacity: 0;
		transition: opacity .3s;
	}
	img {
		transform-origin: 50% 50%;
		[data-zoom="15"] & {
			transform: scale(.3);
		}
		[data-zoom="16"] & {
			transform: scale(.6);
		}
		[data-zoom="18"] & {
			transform: scale(2);
		}
	}
}

.leaflet-marker-icon.leaflet-interactive {
	background: none;
	border: 0;
}