<app-contacts inline-template :is-phone="isPhone" :in-view="inView.contacts">
	<section class="section s--contacts inview" data-inview="contacts" id="contacts">

		<div class="contacts-column contacts-left">

			<h3 class="contacts-title">
				{% if lang == 'ru' %} Контакты {% endif %}
			</h3>

			<a href="#" class="contacts-phone hidden-sm hidden-md hidden-lg" :href="formatPhone('+7 (747) 095 05 03')">+7 (747) 095 05 03</a>

			<div class="contacts-address">
				{% if lang == 'ru' %} Алматы, мкр. Ерменсай, переулок 5 {% endif %}
			</div>

			{% if lang == 'ru' %}
			<div class="contacts-text">Отдел продаж находится на территории 
				жилого комплекса</div>
			{% endif %}

			<a href="https://go.2gis.com/hfqcs" target="_blank" rel="noopener" class="contacts-path">
				{% if lang == 'ru' %} посмотреть маршрут, 2gis {% endif %}
			</a>

			<div class="contacts-mode">
				{% if lang == 'ru' %} Режим работы {% endif %}
				<div>Пн-Пт  10:00-19:00 
					Сб-Вс  10:00-16:00</div>
			</div>

			{% include "nav-social/_nav-social.html" %}

			<div class="contacts-meta contacts-copyright hidden-xs">
				{% if lang == 'ru' %} © Silver Hills 2022. Все права защищены {% endif %}
			</div>

		</div>

		<div class="contacts-column contacts-right">

			<div class="contacts-map">
				<div class="map" ref="mapEl" :data-zoom="MapZoom"></div>
			</div>

			<div class="contacts-meta contacts-copyright visible-xs">
				{% if lang == 'ru' %} © Silver Hills 2022. Все права защищены {% endif %}
			</div>

			<a href="#" @click.prevent="showPolicy" class="contacts-meta contacts-policy">
				{% if lang == 'ru' %} Политика конфиденциальности {% endif %}
			</a>

			<div class="contacts-meta contacts-partner">
				{% if lang == 'ru' %} Сайт разработан и продвигается ТОО MARSALES {% endif %}
			</div>

		</div>

	</section>
</app-contacts>