/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--order {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  align-items: flex-end;
	margin-top: -20px;
}

.order-img {
	position: absolute;
	z-index: 0;
	pointer-events: none;
	left: 23px;
	bottom: 43px;
	path {
		transition: all 1.5s;
	}
	&.aos-animate path {
		stroke-dashoffset: 0;
	}
}

.order-logo {
	width: 291px;
	height: 70px;
	position: absolute;
	top: 40px;
}

.order-text {
	position: absolute;
	left: 22px;
	top: 40px;
	width: 8px;
	height: 150px;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--order {
		height: 300px;
		padding: 47px 60px;
	}

	.order-logo {
		right: 60px;
	}

	.order-img {
		width: 569px;
		height: 126px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--order {
		height: 400px;
		padding: 47px 40px 147px;
	}

	.order-logo {
		right: 40px;
	}

	.order-img {
		$img-width: 400px;//569px;
		$img-height: $img-width*126px/569px;
		width: $img-width;
		height: $img-height;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



