<script type="text/javascript">
	const POINTS_DATA = [{
		"id": 1,
		"title": "{% if lang == 'ru' %}Футбольная площадка{% endif %}",
		"text": "{% if lang == 'ru' %}Устройте соревнование с друзьями\n или научите младших эффектно\n попадать в ворота. Возможно, футбол\n вскоре станет еще одной любимой\n семейной традицией.{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Устройте соревнование с друзьями\n или научите младших эффектно\n попадать в ворота. Возможно, футбол\n вскоре станет еще одной любимой\n семейной традицией.{% endif %}"
	}, {
		"id": 2,
		"title": "{% if lang == 'ru' %}Лаунж- и барбекю зоны{% endif %}",
		"text": "{% if lang == 'ru' %}Пикник на лоне природы в минуте от дома —\n это ли не выходной мечты? Проведите время\n за городом, оставаясь в собственном дворе.\n Собрать семью и друзей на барбекю-\nвечеринку теперь так просто.{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Пикник на лоне природы в минуте от дома\n — это ли не выходной мечты? Проведите\n время за городом, оставаясь в собственном\n дворе. Собрать семью и друзей на барбекю-\nвечеринку теперь так просто.{% endif %}"
	}, {
		"id": 3,
		"title": "{% if lang == 'ru' %}Детские площадки{% endif %}",
		"text": "{% if lang == 'ru' %}Центр притяжения всех юных резидентов. Здесь\n непременно найдется место для любимого детского\n развлечения, игры в песочнице, а также укромное\n место для малышей и их родителей. И, конечно,\n качели и батуты. Ведь какое без них веселье?{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Центр притяжения всех юных резидентов.\n Здесь непременно найдется место для\n любимого детского развлечения, игры в\n песочнице, а также укромное место для\n малышей и их родителей. И, конечно, качели\n и батуты. Ведь какое без них веселье?{% endif %}"
	}, {
		"id": 4,
		"title": "{% if lang == 'ru' %}Комфортные беседки{% endif %}",
		"text": "{% if lang == 'ru' %}Отдохните в тени знойным летом,\n наблюдая за веселой детской игрой\n и любуясь бликами солнца,\n отраженного в брызгах\n фонтана.{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Отдохните в тени знойным летом,\n наблюдая за веселой детской игрой и\n любуясь бликами солнца, отраженного\n в брызгах фонтана.{% endif %}"
	}];
</script>