/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-up) {}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--points {
		padding: 0 60px;
	}

	.points-tabs {
		right: 60px;
		&::after {
			width: fluid(801px, 1202px);
		}
	}

	.points-tab + .points-tab {
		margin-left: 40px;
	}

	.points-slide {
		padding: 136px 30px 20px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--points {
		padding: 0 40px;
	}

	.points-tabs {
		right: 40px;
		&::after {
			width: fluid(960px, 1202px);
		}
	}

	.points-tab + .points-tab {
		margin-left: 20px;
	}

	.points-slide {
		padding: 176px 30px 20px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-phone) {}