.s--points {
	font-weight: 300;
}

.points-slide {
	.title {
		text-transform: uppercase;
		color: $brand-primary;
		font-size: 37px;
		line-height: 52px;
		max-width: 300px;
	}
	.text {
		white-space: pre-line;
		font-size: 16px;
		line-height: 26px;
	}
	.img {
		position: absolute;
	}
}
