/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--points {
	border-style: solid;
	border-width: 0 1PX;
	overflow: hidden;
	margin: -20px 0 -10px;
}

.s--points,
.points-items {
	height: 540px;
}

.points-tabs {
	display: flex;
	justify-content: flex-end;
	position: relative;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 2;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		border-bottom: 1PX solid;
	}
}

.points-tab {
	text-transform: uppercase;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	padding: 17px 0;
	&.active {
		display: none;
	}
}

.points-items {
	position: relative;
}

.points-slide {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	.title {
		margin-bottom: 32px;
	}
	path,
	polygon,
	polyline {
		transition: all 1s;
	}
	.img {
		right: 0;
		bottom: 100px;
		opacity: 0;
		&.active {
			opacity: 1;
		}
	}
}

.points-items:not(.changed) .anim.active.animated,
.points-items.changed .anim.active {
	path,
	polygon,
	polyline {
		stroke-dashoffset: 0;
	}
}

.points-slide-enter-active,
.points-slide-leave-active {
  transition: transform .6s, opacity .4s;
}

.points-slide-enter,
.points-slide-leave-to {
	opacity: 0;
  transform: translateY(-100%);
}

.points-slide-1 {
	$img-width: 313px;//973px;
	$img-height: $img-width*366px/973px;
	.img {
		width: $img-width;
		height: $img-height;
		transform: translate(0, -4px);
	}
}

.points-slide-2 {
	.img {
		width: 311px;
		height: 183px;
		transform: translate(1px, 13px);
	}
}

.points-slide-3 {
	.img {
		width: 445px;
		height: 145px;
		transform: translate(0, -3px);
	}
}

.points-slide-4 {
	$img-width: 323px;//1005px;
	$img-height: $img-width*595px/1005px;
	.img {
		width: $img-width;
		height: $img-height;
		transform: translate(-8px, 1px);
	}
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--points {
		padding: 0 60px;
	}

	.points-tabs {
		right: 60px;
		&::after {
			width: fluid(801px, 1202px);
		}
	}

	.points-tab + .points-tab {
		margin-left: 40px;
	}

	.points-slide {
		padding: 136px 30px 20px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--points {
		padding: 0 40px;
	}

	.points-tabs {
		right: 40px;
		&::after {
			width: fluid(960px, 1202px);
		}
	}

	.points-tab + .points-tab {
		margin-left: 20px;
	}

	.points-slide {
		padding: 176px 30px 20px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



