<section class="section s--main">
	<span class="anchor main-anchor" id="main"></span>

	<div class="main-bg primary visible-xs" data-role="lazy">
		<picture>
			<source media="(max-width: 768px)" data-srcset="{{{ path }}}media/main/main-bg-phone.webp 1x, {{{ path }}}media/main/main-bg-phone@2x.webp 2x" type="image/webp" />
			<img width="402" height="559" data-srcset="{{{ path }}}media/main/main-bg-phone.jpg 1x, {{{ path }}}media/main/main-bg-phone@2x.jpg 2x" alt="bg" class="lazy img--cover" />
		</picture>
		{% if lang == 'ru' %}
		<h1 class="main-title visible-xs">Престижная 
			коллекция резиденций</h1>
		{% endif %}
	</div>

	<div class="main-content">

		{% if lang == 'ru' %}
		<h1 class="main-title hidden-xs">Престижная 
			коллекция резиденций</h1>
		{% endif %}

		<div class="main-address">
			{% if lang == 'ru' %} Алматы, мкр. Ерменсай, переулок 5 {% endif %}
		</div>

		{% if lang == 'ru' %}
		<div class="main-price visible-xs">
			<small>тенге/м²</small>
			<sub>от</sub> <strong>550 000</strong>
		</div>
		{% endif %}

	</div>

	<picture class="main-bg primary hidden-xs" id="parallax-main" data-role="lazy">
		<source data-srcset="{{{ path }}}media/main/main-bg.webp 1x, {{{ path }}}media/main/main-bg@2x.webp 2x" type="image/webp" />
		<img width="1326" height="667" data-srcset="{{{ path }}}media/main/main-bg.jpg 1x, {{{ path }}}media/main/main-bg@2x.jpg 2x" alt="bg" class="lazy img--cover" />
	</picture>
</section>