/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--main {
	height: 100vh;
	max-height: 667px;
	overflow: hidden;
}

.main-bg {
	@include stretch;
}

.main-address {
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 9px;
}

.main-discount {
	display: flex;
	align-items: center;
	.value {
		width: 165px;
		height: 134px;
		left: -7px;
		top: 4px;
	}
	.text {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 16.5px;
		line-height: 21px;
		white-space: pre-line;
	}
}

.main-content {
	position: absolute;
	z-index: 1;
	width: 430px;
	height: 254px;
	background: rgba(white, .83);
	bottom: 70px;
	padding: 19px 29px;
}

.main-title {
	font-size: 23px;
	line-height: 32px;
	color: $brand-primary;
	margin-bottom: 11px;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.main-content {
		left: 66px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.main-content {
		left: 46px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



