/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--main {
	height: 100vh;
	max-height: 667px;
	overflow: hidden;
}

.main-bg {
	@include stretch;
}

.main-address {
	font-size: 15px;
	line-height: 21px;
}

.main-content {
	position: absolute;
	z-index: 1;
	bottom: 30px;
	color: white;
	left: 37px;
}

.main-title {
	font-size: 23px;
	line-height: 32px;
	margin-bottom: 11px;
	white-space: pre-line;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



