/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop-up) {

	.btn {
	  font-size: 15px;
	  padding: 14px 30px 18px;
	  min-width: 228px;
	}

	.btn--block,
	.btn--close,
	.btn--top {
	  min-width: unset;
	}

	.btn--contacts {
		width: 202px;
		font-style: normal;
		.text-default {
			@include stretch-x;
			top: 0;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		a {
			display: block;
			text-decoration: none;
			color: black;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			top: -2px;
		}
	}

	.btn--call,
	.btn--contacts {
		&:hover {
			background: $brand-secondary;
			border-color: $brand-secondary;
			border-bottom-color: black;
		}
	}

	.btn--contacts {
		&:hover {
			border-left-color: black;
		}
	}

	.btn--nav {
		padding: 0;
	}

	.btn--close {
		width: 60px;
		height: 60px;
		font-size: 16px;
		padding: 0;
	}

}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.btn {
	  font-size: 18px;
	  padding: 17px 30px 23px;
	}

	.btn--contacts {
		width: 51px;
		background: $red;
		color: white;
		font-size: 20px;
		border-top: 0;
		border-right: 0;
		padding: 0;
		order: 2;
		.icon {
			position: absolute;
			left: 50%;
			top: 50%;
			transition: transform .6s, opacity .6s;
		}
		.icon-close {
			opacity: 0;
			transform: translate(-50%, -50%) rotate(360deg);
			font-size: 14px;
		}
		.icon-call {
			transform: translate(-50%, -50%);
		}
		&.toggled {
			background: black;
			.icon-call {
				opacity: 0;
				transform: translate(-50%, -50%) rotate(360deg);
			}
			.icon-close {
				opacity: 1;
			}
		}
		&.hide {
			display: none;
		}
	}

	.btn--nav {
		order: 1;
		z-index: 2;
		transition-property: box-shadow, background, border-color, transform;
		padding: 0;
		&.toggled {
			transform: translateX(100%);
		}
		&.hide {
			display: none;
		}
	}

	.btn--close {
		width: 50px;
		height: 50px;
		font-size: 14px;
		padding: 0;
	}

	.btn--close-policy,
	.btn--close-terms {
		bottom: 0;
		top: auto;
		visibility: hidden;
		pointer-events: none;
		z-index: 3;
		&.toggled {
			visibility: visible;
			pointer-events: all;
		}
	}

}