.btn {
  font-size: 15px;
  padding: 14px 30px 18px;
  min-width: 228px;
}

.btn--fill {
	padding: 15px 30px 19px;
}

.btn--block,
.btn--close,
.btn--top {
  min-width: unset;
}

.btn--contacts {
	width: 202px;
	font-style: normal;
	.text-default {
		@include stretch-x;
		top: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	a {
		display: block;
		text-decoration: none;
		color: black;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.btn--call,
.btn--contacts {
	overflow: hidden;
	&::before {
		content: '';
		@include stretch;
		z-index: 0;
		background: $brand-secondary;
		transform-origin: 0 0;
		transform: scaleX(0);
		transition: transform .5s ease;
	}
	&:hover {
		border-color: $brand-secondary;
		border-bottom-color: black;
		&::before {
			transform: scaleX(1);
		}
	}
}

.btn--contacts {
	&:hover {
		border-left-color: black;
	}
}

.btn--nav {
	padding: 0;
}

.btn--close {
	width: 60px;
	height: 60px;
	font-size: 16px;
	padding: 0;
}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



