button {
  cursor: pointer;
  outline: none !important;
}

.btn,
.btn--unstyled {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: normal;
  touch-action: manipulation;
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
  line-height: 1.428571428571429;
  line-height: normal;
  user-select: none;
  white-space: nowrap;
  background-image: none;
}

.btn--unstyled {
  padding: 0;
  border: 0;
  background: none;
}

.btn {
  text-align: center;
  border: 1px solid transparent;
  font-weight: 300;
  font-style: italic;
  transition-property: box-shadow, background, border-color;
  transition-duration: .2s;
  position: relative;

  &:active,
  &.active {
    box-shadow: inset 0 3px 5px rgba(black, .125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
  	pointer-events: none;
  }

}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none;
  }
}

.btn--block {
  display: block;
  width: 100%;
}

input[type="submit"],
// input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}

.btn--submit {
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    transform: translate(-50%, -50%) scale(0);
    background-image: inline('#{$path-inline}/spinner-primary.svg');
    transition: transform .2s;
    pointer-events: none;
  }
  [data-loading="true"] & {
    > span {
      opacity: 0;
    }
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.btn--primary {
	background: $brand-secondary;
	border-color: $brand-secondary;
	color: black;
	&:hover,
	&:active,
	&:focus {
		background: $red;
		border-color: $red;
		color: white;
	}
}

.btn--white {
	background: white;
	border-color: white;
	color: black;
	&:hover,
	&:active,
	&:focus {
		background: $red;
		border-color: $red;
		color: white;
	}
}

.btn--black {
	background: black;
	border-color: black;
	color: white;
	&:hover,
	&:active,
	&:focus {
		background: black;
		border-color: black;
		color: white;
	}
}

.btn--close {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	width: 60px;
	height: 60px;
	font-size: 16px;
	.icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.btn--top {
	height: 50px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	span {
		position: relative;
		top: -2px;
		transition: transform .3s, opacity .3s;
	}
	.text-over {
		@include stretch-x;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transform: translateY(100%);
	}
	&.toggled,
	&:hover {
		.text-default {
			transform: translateY(-100%);
			opacity: 0;
		}
		.text-over {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.btn--nav,
.btn--contacts,
.btn--call {
	border: 1PX solid black;
	background: white;
	margin-left: -1px;
}

.btn--nav {
	width: 50px;
	&::before,
	&::after,
	span {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 16px;
		border-top: 1PX solid black;
		transform-origin: 50% 50%;
		transition: all .3s;
	}
	span {
		transform: translate(-50%, -50%);
	}
	&::before {
		transform: translate(-50%, calc(-50% - 6px));
	}
	&::after {
		transform: translate(-50%, calc(-50% + 6px)) scaleX(.5);
	}
	&::before,
	&::after {
		transform-origin: 100% 50%;
	}
	&.toggled,
	&:hover {
		background: black;
		&::before,
		&::after,
		span {
			border-top-color: white;
		}
	}
	&:hover {
		&::before {
			transform: translate(-50%, calc(-50% - 6px)) scaleX(.5);
		}
		&::after {
			transform: translate(-50%, calc(-50% + 6px));
		}
	}
	&.toggled {
		span {
			transform: scaleX(0);
		}
		&::before,
		&::after {
			width: 19px;
		}
		&::before {
			transform: translate(calc(-50% - 3px), calc(-50% - 7px)) rotate(-45deg);
		}
		&::after {
			transform: translate(calc(-50% - 3px), calc(-50% + 6.5px)) rotate(45deg);
		}
	}
}

.btn--call {
	width: 136px;
}

.btn--flats {
	font-weight: bold;
	font-style: italic;
	color: $brand-primary;
	font-size: 15px;
	margin-right: 24px;
	&:hover,
	&:active,
	&:focus {
		color: $brand-primary
	}
}

