/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop-up) {

	.slider-pager {
		.current {
			color: $brand-primary;
		}
		.amount {
			font-size: 11px;
			left: -8px;
		}
	}

}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.slider-pager {
		position: relative;
		.current {
			left: -11px;
		}
		.amount {
			font-size: 13px;
			left: -18px;
			span {
				margin-right: 3px;
			}
		}
	}

}