.glightbox-clean .gslide-media {
  box-shadow: none;
}

.gslide-image img {
  max-height: calc(100vh - 80px);
  max-width: calc(100% - 80px);
}

.glightbox-clean .gclose {
	right: 0;
	top: 0;
	&:hover {
		background: black;
	}
}

.glightbox-clean .gclose {
	width: 60px;
	height: 60px;
	font-size: 16px;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.glightbox-clean .gclose {
		right: 0;
		top: 0;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



