body.flats--photo {
	.goverlay {
		background: white;
	}
}

.goverlay,
.glightbox-mobile .goverlay {
	background: rgba(black, .95);
}

.glightbox-clean .gclose {
	opacity: 1;
	background: black;
	border-radius: 0;
}

.gclose {
	padding: 0;
	color: white;
	&::before {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	svg {
		display: none;
	}
}

.gprev,
.gnext {
	display: none;
}
