form {
	width: 100%;
	max-width: 598px;
	display: flex;
}

.form-control {
  height: 54px;
  padding: 6px 19px;
  font-size: 15px;
}

.form-group {
	flex-grow: 1;
	margin-right: -1px;
}

.form-controls {
	min-width: 228px;
}

.form-error {
	font-size: 12px;
}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-large) {}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop) {}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



