/*
	styles for Phone
 -------------------------------------------------------------------- */

form {
	max-width: 260px;
	margin: 0 auto;
}

.form-control {
  height: 66px;
  padding: 6px 28px;
  font-size: 18px;
}

.form-group {
	margin-bottom: 10px;
}

.form-controls {
	padding-top: 20px;
}

.form-error {
	font-size: 14px;
}

