// *************************************************************************

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

// legend {
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   font-size: $font-size-base;
//   line-height: inherit;
//   border: 0;
// }

label {
  display: inline-block;
  max-width: 100%;
}

// input[type="search"] {
//   box-sizing: border-box;
// }

// input[type="radio"],
// input[type="checkbox"] {
//   margin: 4px 0 0;
//   margin-top: 1px \9; // IE8-9
//   line-height: normal;
// }

// input[type="file"] {
//   display: block;
// }

// input[type="range"] {
//   display: block;
//   width: 100%;
// }

// select[multiple],
// select[size] {
//   height: auto;
// }

// output {
//   display: block;
//   margin: 0;
//   padding: 0;
//   font-size: $font-size-base;
//   line-height: $line-height-base;
//   color: $input-color;
// }

.form-control {
  display: block;
  width: 100%;
  font-weight: 300;
  line-height: 1.428571428571429;
  line-height: 1;
  line-height: normal;
  color: black;
  background: none;
  border: 1px solid black;
  border-radius: 0;
  box-shadow: none;
  transition: box-shadow ease-in-out .15s;
  outline: none !important;
  position: relative;
  z-index: 0;
  
  &::placeholder {
    color: black;
  }

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
  
  &:focus {
    $color-rgba: rgba(red(white), green(white), blue(white), .6);
    border-color: white;
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px $color-rgba;
    z-index: 1;
  }

  // &:invalid {
  //   box-shadow: none;
  // }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: gray;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

}

// textarea.form-control {
//   height: auto;
//   resize: vertical;
// }

// input[type="search"] {
//   -webkit-appearance: none;
// }

// @media screen and (-webkit-min-device-pixel-ratio: 0) {
//   input[type="date"],
//   input[type="time"],
//   input[type="datetime-local"],
//   input[type="month"] {
//     &.form-control {
//       line-height: $input-height-base;
//     }
//   }
// }

.form-group {
	position: relative;
}

// .control-label {
// }

form {
  position: relative;
}

[data-loading="true"] {
  &::after {
    content: '';
    @include stretch;
    z-index: 1;
  }
}

.form-error {
	$corner: 5px;
	color: white;
	background: $red;
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	font-weight: 300;
	line-height: 1;
	padding: 5px 10px 6px;
	z-index: 2;
	pointer-events: none;
	transition: opacity .3s, transform .3s;
	white-space: nowrap;
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		left: 50%;
		top: -$corner;
		transform: translateX(-50%);
		border-style: solid;
		border-color: transparent transparent $red transparent;
		border-width: 0 $corner $corner $corner;
	}
	&.active {
		transform: translate(-50%, 0);
		opacity: 1;
	}
}

