html,
body {
	height: 100%;
}

body {
	min-width: $layout-min-width;
}

.container {
	width: auto;
}

.content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
	padding: 0 20px;
}