<div class="btn btn--top btn--contacts hidden-xs">
	<span class="text-default">
		<a href="#" :href="formatPhone('+7 (747) 095 05 03')">+7 (747) 095 05 03</a>
	</span>
	{#
	<span class="text-over">
		<a href="#" :href="formatPhone('+7 (747) 095 05 03')">
			{% if lang == 'ru' %} позвонить {% endif %}
		</a>
	</span>
	#}
</div>

<div class="btn btn--top btn--contacts hidden-sm hidden-md hidden-lg" @click.prevent="toggleForm" :class="{'toggled': ShowForm, 'hide': TermsDropShow || ShowPolicy}">
	<i class="icon icon-call"></i>
	<i class="icon icon-close"></i>
</div>