<script type="text/javascript">
	const BENEFITS_DATA = [{
		"pos": "top",
		"value": 20,
		"title": "{% if lang == 'ru' %}двухуровневых\n квартир{% endif %}",
		"subtitle": "{% if lang == 'ru' %}Квартиры\n с приватными патио{% endif %}",
		"text": "{% if lang == 'ru' %}Редкое для городского жителя удовольствие —\n выйти из гостиной на свежий воздух и, удобно\n устроившись в кресле с чашечкой кофе, послушать\n мелодичную трель утренних птиц. Резиденция\n с приватным патио — это ваш оазис посреди\n большого города.{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Редкое для городского жителя\n удовольствие — выйти из гостиной на\n свежий воздух и, удобно устроившись в\n кресле с чашечкой кофе, послушать\n мелодичную трель утренних птиц.\n Резиденция с приватным патио — это ваш\n оазис посреди большого города.{% endif %}",
		"thumb": "{{{ path }}}media/benefits/pic-1.jpg",
		"thumb2x": "{{{ path }}}media/benefits/pic-1@2x.jpg",
		"webp": "{{{ path }}}media/benefits/pic-1.webp",
		"webp2x": "{{{ path }}}media/benefits/pic-1@2x.webp",
		"thumb_phone": "{{{ path }}}media/benefits/pic-1-phone.jpg",
		"thumb_phone2x": "{{{ path }}}media/benefits/pic-1-phone@2x.jpg",
		"webp_phone": "{{{ path }}}media/benefits/pic-1-phone.webp",
		"webp_phone2x": "{{{ path }}}media/benefits/pic-1-phone@2x.webp"
	}, {
		"pos": "top",
		"value": 9,
		"title": "{% if lang == 'ru' %}пентхаусов с видом\n на горы{% endif %}",
		"subtitle": "{% if lang == 'ru' %}Коллекция\n роскошных пентхаусов{% endif %}",
		"text": "{% if lang == 'ru' %}Пентхаусы в Silver Hills – это ваша загородная\n резиденция в престижном районе Алматы. Шикарные\n 2-уровневые квартиры занимают четвертый и пятый\n этажи жилого комплекса и предоставляются в\n свободной планировке.{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Пентхаусы в Silver Hills – это ваша\n загородная резиденция в престижном\n районе Алматы. Шикарные 2-уровневые\n квартиры занимают четвертый и пятый\n этажи жилого комплекса и\n предоставляются в свободной\n планировке.{% endif %}",
		"thumb": "{{{ path }}}media/benefits/pic-2.jpg",
		"thumb2x": "{{{ path }}}media/benefits/pic-2@2x.jpg",
		"webp": "{{{ path }}}media/benefits/pic-2.webp",
		"webp2x": "{{{ path }}}media/benefits/pic-2@2x.webp",
		"thumb_phone": "{{{ path }}}media/benefits/pic-2-phone.jpg",
		"thumb_phone2x": "{{{ path }}}media/benefits/pic-2-phone@2x.jpg",
		"webp_phone": "{{{ path }}}media/benefits/pic-2-phone.webp",
		"webp_phone2x": "{{{ path }}}media/benefits/pic-2-phone@2x.webp"
	}, {
		"pos": "bottom",
		"value": 184,
		"title": "{% if lang == 'ru' %}классические квартиры{% endif %}",
		"subtitle": "{% if lang == 'ru' %}Просторные апартаменты{% endif %}",
		"text": "{% if lang == 'ru' %}Обратите внимание на классические одноуровневые\n квартиры с панорамными окнами. От обычных жилых\n комплексов их отличает увеличенная площадь для\n абсолютного комфорта избирательных жильцов.{% endif %}",
		"text_phone": "{% if lang == 'ru' %}Обратите внимание на классические\n одноуровневые квартиры с панорамными\n окнами. От обычных жилых комплексов их\n отличает увеличенная площадь для\n абсолютного комфорта избирательных\n жильцов.{% endif %}",
		"thumb": "{{{ path }}}media/benefits/pic-3.jpg",
		"thumb2x": "{{{ path }}}media/benefits/pic-3@2x.jpg",
		"webp": "{{{ path }}}media/benefits/pic-3.webp",
		"webp2x": "{{{ path }}}media/benefits/pic-3@2x.webp",
		"thumb_phone": "{{{ path }}}media/benefits/pic-3-phone.jpg",
		"thumb_phone2x": "{{{ path }}}media/benefits/pic-3-phone@2x.jpg",
		"webp_phone": "{{{ path }}}media/benefits/pic-3-phone.webp",
		"webp_phone2x": "{{{ path }}}media/benefits/pic-3-phone@2x.webp"
	}];
</script>