/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

$col-width: (100%/3);

.s--benefits {
	border-bottom: 0;
}

.benefits-tabs {
	border-bottom: 1PX solid;
	display: flex;
	align-items: flex-end;
	position: relative;
	margin-bottom: 33px;
	.line {
		position: absolute;
		height: 5px;
		width: $col-width;
		bottom: -5px;
		transition: left .6s;
		background: $brand-primary;
	}
}

.benefits-tab {
	width: $col-width;
	cursor: pointer;
	font-weight: 300;
	padding: 21px 0;
	position: relative;
	.value {
		line-height: 1;
		color: $brand-primary;
		position: relative;
	}
	.title {
		font-style: italic;
	}
	&:not(.active) {
		.value {
			font-size: 60px;
			left: -7px;
		}
		.text {
			font-size: 16px;
			line-height: 21px;
		}
	}
	&.active {
		display: flex;
		align-items: flex-end;
		.value {
			margin-right: 14px;
		}
		.title {
			font-size: 18px;
			line-height: 23px;
			white-space: pre-line;
		}
	}
}

.benefits-tab:nth-child(1).active ~ .line {
	left: 0;
}

.benefits-tab:nth-child(2).active ~ .line {
	left: $col-width;
}

.benefits-tab:nth-child(3).active ~ .line {
	left: $col-width*2;
}

.benefits-slide {
	color: white;
	overflow: hidden;
	.img {
		height: 458px;
		background: black;
	}
	.title {
		font-size: 23px;
		line-height: 35px;
		margin-bottom: 17px;
		text-transform: uppercase;
	}
	.text {
		font-size: 14px;
		line-height: 24px;
	}
	.inner {
		position: absolute;
		z-index: 1;
	}
	.title,
	.text {
		opacity: 0;
		transition: transform .6s .6s, opacity .6s;
	}
	.inner-top {
		transform: translateY(40%);
		top: 49px;
		.title,
		.text {
			transform: translateY(40%);
		}
	}
	.inner-bottom {
		transform: translateY(-40%);
		bottom: 59px;
		.title,
		.text {
			transform: translateY(-40%);
		}
	}
	&.active {
		.title,
		.text {
			transition: transform .6s, opacity .6s;
			transform: translateY(0);
			opacity: 1;
		}
		.inner-top {
			.title {
				transition-delay: 1.1s;
			}
			.text {
				transition-delay: 1.15s;
			}
		}
		.inner-bottom {
			.text {
				transition-delay: 1.1s;
			}
			.title {
				transition-delay: 1.25s;
			}
		}
	}
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--benefits {
		padding: 46px 60px 0;
	}

	.benefits-tab {
		left: 68px;
		&:first-child,
		&.active {
			left: auto;
		}
		&:not(.active) {
			.value {
				margin-bottom: 9px;
			}
		}
		&.active {
			.value {
				font-size: 110px;
				top: 3px;
			}
		}
	}

	.benefits-slide {
		.inner {
			left: 60px;
		}
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--benefits {
		padding: 46px 40px 0;
	}

	.benefits-tab {
		&:not(.active) {
			.value {
				margin-bottom: 1px;
			}
		}
		&.active {
			.value {
				font-size: 90px;
			}
		}
	}

	.benefits-slide {
		.inner {
			left: 40px;
		}
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



