/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-up) {}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--benefits {
		padding: 46px 60px 0;
	}

	.benefits-tab {
		left: 68px;
		&:first-child,
		&.active {
			left: auto;
		}
		&:not(.active) {
			.value {
				margin-bottom: 9px;
			}
		}
		&.active {
			.value {
				font-size: 110px;
				top: 3px;
			}
		}
	}

	.benefits-slide {
		.inner {
			left: 60px;
		}
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--benefits {
		padding: 46px 40px 0;
	}

	.benefits-tab {
		&:not(.active) {
			.value {
				margin-bottom: 1px;
			}
		}
		&.active {
			.value {
				font-size: 90px;
			}
		}
	}

	.benefits-slide {
		.inner {
			left: 40px;
		}
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-phone) {}