.s--about {
	border: 1px solid;
	border-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

.about-title {
	font-size: 76px;
	line-height: 1;
	color: $gray;
	position: absolute;
	top: 35px;
}

.about-expiry {
	position: absolute;
	bottom: 62px;
	font-size: 19px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 300;
}

.about-items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 534px;
	position: relative;
	top: 2px;
}

.about-item {
	font-weight: 300;
	width: (100%/3);
	min-height: 151px;
	position: relative;
	.value {
		line-height: 1;
		color: $brand-primary;
		letter-spacing: 0.02em;
		position: relative;
		left: -3px;
	}
	.text {
		font-style: italic;
		white-space: pre-line;
	}
}

.about-item-1,
.about-item-2,
.about-item-3 {
	.value {
		font-size: 64px;
		margin-bottom: 10px;
	}
	.text {
		font-size: 23px;
		line-height: 28px;
	}
}

.about-item-4,
.about-item-5 {
	left: 3px;
	.value {
		font-size: 48px;
		margin-bottom: 13px;
	}
	.text {
		font-size: 17px;
		line-height: 20px;
	}
}

.about-img {
	position: absolute;
	bottom: 66px;
	pointer-events: none;
	width: 1278px;
	height: 319px;
}