.s--about {
	border: 1PX solid;
}

.about-expiry {
	text-transform: uppercase;
	font-weight: 300;
}

.about-items {
	display: flex;
	flex-wrap: wrap;
}

.about-item {
	font-weight: 300;
	.value {
		line-height: 1;
		color: $brand-primary;
		letter-spacing: 0.02em;
		position: relative;
		left: -3px;
	}
	.coun {
		color: $brand-primary;
	}
	.text {
		font-style: italic;
		white-space: pre-line;
	}
}

.about-item-1,
.about-item-2,
.about-item-3 {
	.value {
		font-size: 64px;
		margin-bottom: 10px;
	}
	.text {
		font-size: 23px;
		line-height: 28px;
	}
}

.about-img {
	position: absolute;
	pointer-events: none;
}