/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--about {
	overflow: hidden;
	border-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.about-title {
	font-size: 76px;
	line-height: 1;
	color: $gray;
	position: absolute;
	top: 35px;
}

.about-items {
	width: 100%;
	max-width: 534px;
	position: relative;
	top: 2px;
}

.about-item {
	position: relative;
	width: (100%/3);
	min-height: 151px;
	opacity: 0;
	transform: translateY(40%);
	transition: transform .6s, opacity .3s;
	&.animated {
		opacity: 1;
		transform: translateY(0);
	}
	&:nth-child(1) {
		transition-delay: .2s;
	}
	&:nth-child(2) {
		transition-delay: .25s;
	}
	&:nth-child(3) {
		transition-delay: .3s;
	}
	&:nth-child(4) {
		transition-delay: .35s;
	}
	&:nth-child(5) {
		transition-delay: .4s;
	}
}

.about-item-4,
.about-item-5 {
	left: 3px;
	.value {
		font-size: 48px;
		margin-bottom: 13px;
	}
	.text {
		font-size: 17px;
		line-height: 20px;
	}
}

.about-expiry {
	position: absolute;
	bottom: 62px;
	font-size: 19px;
	line-height: 30px;
}

.about-img {
	bottom: 66px;
	width: 1278px;
	height: 319px;
	path {
		transition: all 1.5s;
	}
	&.animated path {
		stroke-dashoffset: 0;
	}
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--about {
		height: 650px;
	}

	.about-title,
	.about-expiry {
		left: 60px;
	}

	.about-items {
		right: 120px;
	}

	.about-img {
		right: -1px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--about {
		height: 750px;
	}

	.about-title,
	.about-expiry {
		left: 40px;
	}

	.about-items {
		right: 40px;
		margin-bottom: 100px;
	}

	.about-img {
		left: 20px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



