.modal-policy {
	position: fixed;
	background: white;
	font-weight: 300;
	border: 1PX solid;
	&:not(.active) {
		display: none;
	}
	h2 {
		white-space: pre-line;
	}
	h3, h4 {
		margin-bottom: 6px;
	}
	p {
		margin-bottom: 10px;
	}
	a {
		color: black;
	}
	ul {
		list-style: none;
		margin-top: 0;
		margin-bottom: 10px;
		padding: 0;
	}
	li {
		position: relative;
		margin: 0;
		padding: 0 0 0 20px;
		&::before {
			content: '';
			position: absolute;
			left: 8px;
			top: 11px;
			width: 3px;
			height: 3px;
			border-radius: 100%;
			background: black;
		}
	}
}

.modal-policy-in {
	overflow: auto;
	overflow-x: hidden;
}

.modal-policy-enter-active,
.modal-policy-leave-active {
  transition: transform .6s, opacity .6s;
}

.modal-policy-enter,
.modal-policy-leave-to {
	opacity: 0;
  transform: translateY(-100%);
}