<transition name="modal-policy" @enter="modalShow" @after-enter="modalShowed" @after-leave="modalHidden">
	<div class="modal-policy" v-show="ShowPolicy" :class="{active: appIsLoaded}">

		<button type="button" class="btn btn--black btn--close hidden-xs" aria-label="close" @click="ShowPolicy=false">
			<i class="icon icon-close"></i>
		</button>

		<div class="modal-policy-logo hidden-xs" data-role="lazy">
			<img width="291" height="70" data-src="{{{ path }}}img/logo-alt.svg" class="img--cover lazy" alt="logo" />
		</div>

		<div class="modal-policy-text hidden-xs" data-role="lazy">
			<img width="8" height="150" data-src="{{{ path }}}img/text-vertical-{{{ lang }}}.svg" class="img--cover lazy" alt="text" />
		</div>

		<div class="modal-policy-in">

			{% if lang == 'ru' %}
			<h2>Политика 
				конфиденциальности и 
				обработки песрональных 
				данных</h2>
			{% endif %}

			{% if lang == 'ru' %}
			<p>Настоящая политика конфиденциальности и обработки персональных данных регулирует порядок обработки и использования персональных данных и иных данных сайта, принадлежащего ТОО «Көк Бәйтерек» (дальше — Администратор).</p>
			<p>Передавая Администратору персональные и иные данные посредством Сайта, Пользователь подтверждает свое согласие на использование указанных данных на условиях, изложенных в настоящей Политике конфиденциальности. Если Пользователь не согласен с условиями настоящей Политики конфиденциальности, он обязан прекратить использование Сайта.</p>
			<p>Безусловным акцептом (принятием) настоящей Политики конфиденциальности является начало использования Сайта Пользователем. Действующая редакция Политики, являющейся публичным документом, разработана Администратором доступна для ознакомления при переходе по гипертекстовой <a href="/#policy">ссылке Политика конфиденциальности</a>.</p>

			<h4>ТЕРМИНЫ</h4>
			<p><b>Сайт</b> – сайт, расположенный в сети Интернет по адресу https://silver-hills.kz/ Все исключительные права на Сайт и его отдельные элементы (включая программное обеспечение, дизайн) принадлежат Администратору в полном объеме. Передача исключительных прав Пользователю не является предметом настоящей Политики конфиденциальности.</p>
			<p><b>Пользователь</b> — пользователь Сайта, физическое или юридическое лицо, использующий Форму Обратной Связи на сайте.</p>
			<p><b>Законодательство</b> — действующее законодательство Республики Казахстан.</p>
			<p><b>Персональные данные</b> — персональные данные Пользователя, которые Пользователь предоставляет самостоятельно при заполнении Формы обратной связи или в процессе использования функционала Сайта.</p>
			<p><b>Данные</b> — иные данные о Пользователе (не входящие в понятие Персональных данных).</p>
			<p><b>Форма обратной связи</b> — специальные поля, куда Пользователь вносит персональную информацию, с целью передачи данных о пользователе — Администратору сайта.</p>
			<p><b>Услуга(и)</b> — услуги, предоставляемые Администратором на основании соглашения.</p>

			<h4>СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
			<p>Администратор собирает и хранит только те Персональные данные, которые необходимы для оказания Услуг Администратором и взаимодействия с Пользователем.</p>
			<p>Персональные данные могут использоваться в следующих целях:</p>
			<ul>
				<li>оказание Услуг Пользователю;</li>
				<li>идентификация Пользователя;</li>
				<li>взаимодействие с Пользователем;</li>
				<li>направление Пользователю рекламных материалов, информации и запросов;</li>
				<li>проведение статистических и иных исследований;</li>
			</ul>
			<p>Администратор в том числе обрабатывает следующие данные:</p>
			<ul>
				<li>фамилия, имя и отчество;</li>
				<li>номер телефона (в т.ч. мобильного).</li>
			</ul>
			<p>Пользователю запрещается указывать на Сайте персональные данные третьих лиц (за исключением условия представления интересов этих лиц, имея документальное подтверждение третьих лиц на осуществление таких действий).</p>

			<h4>ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ И ИНЫХ ДАННЫХ</h4>
			<p>Администратор обязуется использовать Персональные данные в соответствии с Законом «О персональных данных» Республики Казахстан и внутренними документами Администратора.</p>
			<p>В отношении Персональных данных и иных Данных Пользователя сохраняется их конфиденциальность, кроме случаев, когда указанные данные являются общедоступными.</p>
			<p>Администратор имеет право сохранять архивную копию Персональных данных.</p>
			<p>Администратор имеет право хранить Персональные данные и Данные на серверах вне территории Республики Казахстан.</p>
			<p>Администратор имеет право передавать Персональные данные и Данные Пользователя без согласия Пользователя следующим лицам:</p>
			<ul>
				<li>государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу</li>
				<li>в иных случаях, прямо предусмотренных действующим законодательством Республики Казахстан.</li>
			</ul>
			<p>Администратор имеет право передавать Персональные данные и Данные третьим лицам, не указанным в п.3.4. настоящей Политики конфиденциальности, в следующих случаях:</p>
			<ul>
				<li>Пользователь выразил свое согласие на такие действия;</li>
				<li>передача необходима в рамках использования Пользователем Сайта или оказания Услуг Пользователю;</li>
			</ul>
			<p>Администратор осуществляет автоматизированную обработку Персональных данных и Данных.</p>

			<h4>ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
			<p>Администратор осуществляет надлежащую защиту Персональных и иных данных в соответствии с Законодательством и принимает необходимые и достаточные организационные и технические меры для защиты Персональных данных.</p>
			<p>Применяемые меры защиты в том числе позволяют защитить Персональные данные от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними третьих лиц.</p>

			<h4>ИНЫЕ ПОЛОЖЕНИЯ</h4>
			<p>К настоящей Политике конфиденциальности и отношениям между Пользователем и Администратором, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Республики Казахстан.</p>
			<p>Если по тем или иным причинам одно или несколько положений Политики конфиденциальности будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Политики конфиденциальности.</p>
			<p>Администратор имеет право в любой момент изменять Политику конфиденциальности (полностью или в части) в одностороннем порядке без предварительного согласования с Пользователем. Все изменения вступают в силу с момента ее размещения на Сайте.</p>
			<p>Пользователь обязуется самостоятельно следить за изменениями Политики конфиденциальности путем ознакомления с актуальной редакцией.</p>
			{% endif %}

		</div>

	</div>
</transition>