/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.modal-policy {
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 10;
	&::before,
	&::after {
		content: '';
		@include stretch-x;
		background-color: red;
		z-index: 1;
		pointer-events: none;
		height: 80px;
	}
	&::before {
		top: 0;
		background: linear-gradient(to bottom, white, rgba(white, .5));
	}
	&::after {
		bottom: 0;
		background: linear-gradient(to top, white, rgba(white, .5));
	}
	h2 {
		font-size: 36px;
		line-height: 50px;
		margin-bottom: 49px;
	}
	h3, h4 {
		font-size: 24px;
		line-height: 38px;
	}
	p + h3,
	p + h4 {
		margin-top: 46px;
	}
}

.modal-policy-in {
	padding: 172px 60px 127px 244px;
	height: calc(100vh - 40px - 2px);
	> * {
		margin-left: auto;
		margin-right: auto;
		max-width: 690px;
	}
}

.modal-policy-logo {
	position: absolute;
	z-index: 2;
	top: 43px;
}

.modal-policy-text {
	position: absolute;
	z-index: 2;
	left: 21px;
	top: 106px;
	width: 8px;
	height: 150px;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.modal-policy-logo {
		left: 60px;
		width: 291px;
		height: 70px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.modal-policy-logo {
		$logo-width: 200px;//291px;
		$logo-height: $logo-width*70px/291px;
		left: 20px;
		width: $logo-width;
		height: $logo-height;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



