<transition name="drop-menu" @enter="modalShow" @after-enter="modalShowed" @after-leave="modalHidden">
	<div class="drop-menu" v-show="ShowDropMenu" :class="{active: appIsLoaded}" :style="'padding-right: '+ scrollBarOffset +'px'">
		<div class="drop-menu-in">
			
			{% include "nav-main/_nav-main.html" %}

			<div>
				{% for item in [
					{
						notext: true
					}
				] -%}
				{% include "nav-social/_nav-social.html" %}
				{%- endfor %}
				
				<a href="{{{ path }}}media/SilverHills.pdf" download="presentation.pdf" class="drop-menu-download">
					{% if lang == 'ru' %} скачать презентацию, PDF {% endif %}
				</a>
			</div>

		</div>

		<div class="drop-menu-bg primary hidden-xs">
			<transition name="drop-menu-bg">
				<picture v-show="ShowDropMenu" data-role="lazy">
					<source data-srcset="{{{ path }}}media/drop-menu-bg.webp 1x, {{{ path }}}media/drop-menu-bg@2x.webp 2x" type="image/webp" />
					<img width="800" height="667" data-srcset="{{{ path }}}media/drop-menu-bg.jpg 1x, {{{ path }}}media/drop-menu-bg@2x.jpg 2x" alt="bg" class="lazy img--cover" />
				</picture>
			</transition>
		</div>

		<picture class="drop-menu-bg primary visible-xs" data-role="lazy">
			<source data-srcset="{{{ path }}}media/drop-menu-bg-phone.webp 1x, {{{ path }}}media/drop-menu-bg-phone@2x.webp 2x" type="image/webp" />
			<img width="394" height="159" data-srcset="{{{ path }}}media/drop-menu-bg-phone.jpg 1x, {{{ path }}}media/drop-menu-bg-phone@2x.jpg 2x" alt="bg" class="lazy img--cover" />
		</picture>
	</div>
</transition>