/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.drop-menu {
	left: 20px;
	right: 20px;
	height: calc(100vh - 60px - 20px);
}

.drop-menu-in {
	padding: 87px 81px 67px;
}

.drop-menu-download {
	font-size: 16px;
	line-height: 19px;
}

.drop-menu-bg {
	@include stretch-y;
	left: 0;
	overflow: hidden;
	div {
		@include stretch-y;
		left: 50%;
		width: 800px;
		transform: translateX(-30%);
	}
	.drop-menu-bg-enter,
	.drop-menu-bg-leave-to {
	  transform: translateX(-70%);
	}
}

.drop-menu-bg-enter-active,
.drop-menu-bg-leave-active {
  transition: transform 20s;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	$col-left: fluid(472px, 1326px);

	.drop-menu-bg {
		width: $col-left;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	$col-left: fluid(343px, 855px);

	.drop-menu-bg {
		width: $col-left;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



