<transition name="drop-form" @enter="modalShow" @after-enter="modalShowed" @after-leave="modalHidden">
		<div class="drop-form" v-show="ShowForm" :class="{active: appIsLoaded}">

		<button type="button" class="btn btn--black btn--close hidden-xs" aria-label="close" @click="closeForm">
			<i class="icon icon-close"></i>
		</button>

		<div class="drop-form-in">

			<div class="drop-form-logo" data-role="lazy">
				<img width="291" height="70" data-src="{{{ path }}}img/logo.svg" class="img--cover lazy" alt="logo" />
			</div>

			<div class="drop-form-icon hidden-xs" data-role="lazy">
				<img width="54" height="52" data-src="{{{ path }}}img/logo-icon.png" data-retina="{{{ path }}}img/logo-icon@2x.png" class="img--cover lazy" alt="icon" />
			</div>

			<div class="drop-form-icon visible-xs" data-role="lazy">
				<img width="108" height="104" data-src="{{{ path }}}img/logo-icon.png" data-retina="{{{ path }}}img/logo-icon@2x.png" class="img--cover lazy" alt="icon" />
			</div>

			<div class="drop-form-text hidden-xs" data-role="lazy">
				<img width="8" height="150" data-src="{{{ path }}}img/text-vertical-{{{ lang }}}.svg" class="img--cover lazy" alt="text" />
			</div>

			<div v-show="!ShowResponse">
				<app-form :form-class="'form-call'" :form-utm="UTM" :button="'white'" v-on:show-response="showResponse" v-on:hide-response="hideResponse" :action="'/'"></app-form>
			</div>

			<div v-show="ShowResponse">
				<div class="drop-form-response">
					{% if lang == 'ru' %}
					Спасибо!<br /> 
					мы Вам перезвоним
					{% endif %}
				</div>
			</div>

		</div>

		<div class="drop-form-bg-wrapper" v-show="!ShowResponse">
			<div class="drop-form-bg primary hidden-xs" data-role="lazy">
				<picture>
					<source data-srcset="{{{ path }}}media/drop-form-bg-1.webp 1x, {{{ path }}}media/drop-form-bg-1@2x.webp 2x" type="image/webp" />
					<img width="1326" height="407" data-srcset="{{{ path }}}media/drop-form-bg-1.jpg 1x, {{{ path }}}media/drop-form-bg-1@2x.jpg 2x" alt="bg" class="lazy img--cover" />
				</picture>
			</div>
			<div class="drop-form-bg primary visible-xs" data-role="lazy">
				<picture>
					<source data-srcset="{{{ path }}}media/drop-form-bg-1-phone.webp 1x, {{{ path }}}media/drop-form-bg-1-phone@2x.webp 2x" type="image/webp" />
					<img width="394" height="190" data-srcset="{{{ path }}}media/drop-form-bg-1-phone.jpg 1x, {{{ path }}}media/drop-form-bg-1-phone@2x.jpg 2x" alt="bg" class="lazy img--cover" />
				</picture>
			</div>
		</div>

		<div class="drop-form-bg-wrapper" v-show="ShowResponse">
			<div class="drop-form-bg primary hidden-xs" data-role="lazy">
				<picture>
					<source data-srcset="{{{ path }}}media/drop-form-bg-2.webp 1x, {{{ path }}}media/drop-form-bg-2@2x.webp 2x" type="image/webp" />
					<img width="1326" height="407" data-srcset="{{{ path }}}media/drop-form-bg-2.jpg 1x, {{{ path }}}media/drop-form-bg-2@2x.jpg 2x" alt="bg" class="lazy img--cover" />
				</picture>
			</div>
			<div class="drop-form-bg primary visible-xs" data-role="lazy">
				<picture>
					<source data-srcset="{{{ path }}}media/drop-form-bg-2-phone.webp 1x, {{{ path }}}media/drop-form-bg-2-phone@2x.webp 2x" type="image/webp" />
					<img width="394" height="190" data-srcset="{{{ path }}}media/drop-form-bg-2-phone.jpg 1x, {{{ path }}}media/drop-form-bg-2-phone@2x.jpg 2x" alt="bg" class="lazy img--cover" />
				</picture>
			</div>
		</div>

	</div>
</transition>