/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

$bg-height: fluid(407px, 707px);

.drop-form {
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 10;
}

.drop-form-logo {
	position: absolute;
	z-index: 2;
	top: 43px;
}

.drop-form-icon {
	width: 54px;
	height: 52px;
	left: 61px;
	bottom: calc(#{$bg-height} - 34px);
}

.drop-form-text {
	position: absolute;
	z-index: 2;
	left: 21px;
	top: 106px;
	width: 8px;
	height: 150px;
}

.drop-form-bg-wrapper {
	@include stretch-x;
	bottom: 0;
	overflow: hidden;
	height: $bg-height;
}

.drop-form-in {
	display: flex;
	justify-content: flex-end;
  align-items: flex-end;
	padding: 47px 60px;
	height: 100% - $bg-height;
}

.drop-form-response {
	position: relative;
	font-size: 44px;
	line-height: 62px;
	width: fluid(668px, 1326px);
	top: 7px;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.drop-form-logo {
		left: 60px;
		width: 291px;
		height: 70px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.drop-form-logo {
		$logo-width: 200px;//291px;
		$logo-height: $logo-width*70px/291px;
		left: 20px;
		width: $logo-width;
		height: $logo-height;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



