.drop-form {
	position: fixed;
	background: $brand-secondary;
	&:not(.active) {
		display: none;
	}
}

.drop-form-icon {
	position: absolute;
	z-index: 2;
}

.drop-form-bg {
	@include stretch-x;
	bottom: 0;
	background: $gray;
}

.drop-form-response {
	font-weight: 300;
	text-transform: uppercase;
}

.drop-form-enter-active,
.drop-form-leave-active {
  transition: transform .6s, opacity .6s;
}

.drop-form-enter,
.drop-form-leave-to {
	opacity: 0;
  transform: translateY(-100%);
}