<script type="text/javascript">
	const TERMS_DATA = [{
		"title": "{% if lang == 'ru' %}оплата{% endif %}",
		"value": "100%",
		"text": "{% if lang == 'ru' %}<p>При приобретении квартиры\n за 100% оплату –\n скидка 5%<p>{% endif %}"
	}, {
		"title": "{% if lang == 'ru' %}рассрочка{% endif %}",
		"value": "50%-50%",
		"text": "{% if lang == 'ru' %}<p>Первоначальный взнос –\n от 50%</p><p>Остаток оплачивается после\n завершения строительства\n до 1 ноября 2022 г.</p>{% endif %}"
	}, {
		"title": "{% if lang == 'ru' %}рассрочка{% endif %}",
		"value": "70%-30%",
		"text": "{% if lang == 'ru' %}<p>Первоначальный взнос –\n от 70%</p><p>Остаток оплачивается после\n завершения строительства\n до 1 ноября 2022 г.</p>{% endif %}"
	}, {
		"title": "{% if lang == 'ru' %}ипотека\n с дополнительным\n залогом{% endif %}",
		"value": "",
		"text": "{% if lang == 'ru' %}<p>Накопления на депозите 50%</p><p>Необходимо наличие\n дополнительного\n залога</p>{% endif %}"
	}];
</script>