/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop-up) {

	.s--terms {
		margin: -20px 0 50px;
		background: #e0dfdd;
		min-height: 512px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.terms-items {
		width: 100%;
		display: flex;
	}

	.terms-item {
		min-height: 350px;
		background: white;
		padding: 20px 22px 74px;
		margin-left: 20px;
		position: relative;
		.head {
			min-height: 92px;
			margin-bottom: 30px;
			position: relative;
			&::after {
				content: '';
				border-bottom: 1PX solid;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 50px;
			}
		}
		.title {
			font-size: 15px;
			line-height: 19px;
			min-height: 38px;
			margin-bottom: 3px;
		}
		.value {
			font-size: 33px;
			line-height: 40px;
			margin-bottom: 10px;
		}
		.text {
			font-size: 12px;
			line-height: 17px;
			font-weight: 300;
		}
		.btn {
			position: absolute;
			left: 0;
			bottom: 0;
		}
		p {
			margin-bottom: 10px;
			white-space: pre-line;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.terms-img {
		position: absolute;
		z-index: 0;
		left: 0;
		bottom: 54px;
		width: 256px;
		height: 317px;
		pointer-events: none;
	}

}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--terms {
		padding: 0 60px;
	}

	.terms-items {
		max-width: 992px;
	}

	.terms-item {
		width: calc(25% - 20px);
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--terms {
		padding: 40px 40px 20px;
	}

	.terms-items {
		flex-wrap: wrap;
		max-width: 620px;
	}

	.terms-item {
		width: calc(50% - 20px);
		margin-bottom: 20px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.s--terms {
		padding: 0 30px 51px;
	}

	.terms-items {
	}

	.terms-item {
		&:not(:last-child) {
			border-bottom: 1PX solid;
			margin-bottom: 32px;
			padding-bottom: 17px;
		}
		.head {
			min-height: 97px;
			margin-bottom: 17px;
		}
		.title {
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 1px;
		}
		.value {
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 24px;
		}
		.more {
			font-size: 18px;
			line-height: 22px;
			font-style: italic;
			a {
				color: $red;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}