/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--terms {
	margin: -20px 0 50px;
	background: #e0dfdd;
	min-height: 512px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.terms-items {
	width: 100%;
	display: flex;
}

.terms-item {
	min-height: 350px;
	background: white;
	padding: 20px 22px 74px;
	margin-left: 20px;
	position: relative;
	opacity: 0;
	transform: translateX(50%);
	transition: opacity .6s, transform .6s;
	&.animated {
		opacity: 1;
		transform: translateX(0);
	}
	&:nth-child(1) {
		transition-delay: .2s;
	}
	&:nth-child(2) {
		transition-delay: .25s;
	}
	&:nth-child(3) {
		transition-delay: .3s;
	}
	&:nth-child(4) {
		transition-delay: .35s;
	}
	.head {
		min-height: 92px;
		margin-bottom: 30px;
		position: relative;
		&::after {
			content: '';
			border-bottom: 1PX solid;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 50px;
		}
	}
	.title {
		font-size: 15px;
		line-height: 19px;
		min-height: 38px;
		margin-bottom: 3px;
	}
	.value {
		font-size: 33px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.text {
		font-size: 12px;
		line-height: 17px;
		font-weight: 300;
	}
	.btn {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	p {
		margin-bottom: 10px;
		white-space: pre-line;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.terms-img {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 54px;
	width: 256px;
	height: 317px;
	pointer-events: none;
	path {
		transition: all 1.5s;
	}
	&.animated path {
		stroke-dashoffset: 0;
	}
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--terms {
		padding: 0 60px;
	}

	.terms-items {
		max-width: 992px;
	}

	.terms-item {
		width: calc(25% - 20px);
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--terms {
		padding: 40px 40px 20px;
	}

	.terms-items {
		flex-wrap: wrap;
		max-width: 620px;
	}

	.terms-item {
		width: calc(50% - 20px);
		margin-bottom: 20px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



