<app-drop-terms inline-template :terms="TermsSelected">
	<transition name="drop-terms" @enter="modalShow" @after-enter="modalShowed" @after-leave="modalTermsHidden">
		<div class="drop-terms hidden-sm hidden-md hidden-lg" v-show="TermsDropShow" :class="{active: appIsLoaded}">

			<div class="drop-terms-in">

				<div class="drop-terms-head">
					<div class="drop-terms-title">{{ Terms.title }}</div>
					<div class="drop-terms-value">{{ Terms.value }}</div>
				</div>

				<div class="drop-terms-text" v-html="Terms.text"></div>

				{% for item in [
					{
						FormId: "terms",
						FormClass: "form-terms",
						Button: "primary"
					}
				] -%}
				{% include "form-order/_form-order.html" %}
				{%- endfor %}

			</div>

		</div>
	</transition>
</app-drop-terms>