/*
	styles for Phone
 -------------------------------------------------------------------- */

.drop-terms {
	position: fixed;
	z-index: 7;
	left: 10px;
	right: 10px;
	top: 60px;
	bottom: 10px;
	background: white;
	border: 1px solid;
	border-top: 0;
	overflow: auto;
	overflow-x: hidden;
	&:not(.active) {
		display: none;
	}
}

.drop-terms-in {
	min-height: 500px;
	padding: 36px 30px;
}

.drop-terms-head {
	min-height: 137px;
	margin-bottom: 25px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 140px;
		border-top: 1PX solid;
	}
}

.drop-terms-title {
	color: $brand-primary;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	white-space: pre-line;
}

.drop-terms-value {
	font-weight: 300;
	font-size: 50px;
	line-height: 60px;
}

.drop-terms-text {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	min-height: 119px;
	margin-bottom: 20px;
	p {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.drop-terms-enter-active,
.drop-terms-leave-active {
  transition: transform .6s, opacity .6s;
}

.drop-terms-enter,
.drop-terms-leave-to {
	opacity: 0;
  transform: translateY(-100%);
}

