/*
	styles for Phone
 -------------------------------------------------------------------- */

.header-in {
	margin: 0 10px;
}

.header-left {
	width: 60%;
}

.header-right {
	width: 40%;
}

.header-logo {
	width: 163px;
	height: 35px;
	top: -11px;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 206px;
		height: 100%;
		background-image: url(#{$path-img}/logo-small-phone.png);
		@include retina('#{$path-img}/logo-small-phone@2x.png');
		background-size: 100% 100%;
	}
}

