<header class="header gscrollbar-fixer" :style="'padding-right: '+ scrollBarOffset +'px'" ref="headerEl">
	<div class="container header-in">
		
		<scrollactive class="header-column header-left" tag="div" offset="0" :modify-url="false">
			<a href="#main" class="link--block header-logo scrollactive-item" aria-label="logo" @click.prevent="closeDropMenu"></a>
		</scrollactive>

		<scrollactive class="header-column header-right" tag="div" :offset="scrollTopOffset" :modify-url="false">
			{% for item in [
				{
					notext: true,
					class: "hidden-xs"
				}
			] -%}
			{% include "nav-social/_nav-social.html" %}
			{%- endfor %}
			<a href="#flats" class="btn--unstyled btn--top btn--flats scrollactive-item hidden-xs" @click="closeDropMenu">
				{% if lang == 'ru' %} выбрать квартиру {% endif %}
			</a>
			{% include "nav-lang/_nav-lang.html" %}
			<button type="button" class="btn btn--top btn--call hidden-xs" @click="openForm" :class="{'toggled': ShowForm}">
				<span class="text-default">
					{% if lang == 'ru' %} позвонить {% endif %}
				</span>
				<span class="text-over">
					{% if lang == 'ru' %} заявка {% endif %}
				</span>
			</button>
			{% include "nav-contacts/_nav-contacts.html" %}
			<button type="button" class="btn btn--top btn--nav" aria-label="menu" :class="{'toggled': ShowDropMenu, 'hide': ShowForm || ShowPolicy || TermsDropShow}" @click="toggleDropMenu">
				<span class="bg"></span>
				<span class="line"></span>
			</button>
			<button type="button" class="btn btn--black btn--close btn--close-policy visible-xs" :class="{'toggled': ShowPolicy}" @click="hidePolicy"></button>
			<button type="button" class="btn btn--black btn--close btn--close-terms visible-xs" :class="{'toggled': TermsDropShow}" @click="closeTerms"></button>
		</scrollactive>

	</div>
</header>