<script type="text/javascript">
	const GALLERY_DATA = [{
		"text": "{% if lang == 'ru' %}Закрытая безопасная внутренняя\n территория полна возможностей\n наслаждаться пространством именно\n так, как вы любите.{% endif %}",
		"pos": "left-bottom",
		"thumb": "{{{ path }}}media/gallery/thumb-1.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-1@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-1.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-1@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-1.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Большой внутренний двор комплекса\n включает приватную благоустроенную\n территорию с каскадным фонтаном,\n игровыми площадками и зонами\n отдыха.{% endif %}",
		"pos": "right-bottom",
		"thumb": "{{{ path }}}media/gallery/thumb-2.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-2@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-2.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-2@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-2.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Ваше приватное патио — это\n идеальное место для камерной\n барбекю-вечеринки и празднования\n важного семейного события.{% endif %}",
		"pos": "left-top",
		"thumb": "{{{ path }}}media/gallery/thumb-3.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-3@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-3.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-3@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-3.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Выйдите на персональную террасу с\n эффектным видом на горы, ощутите\n себя в частном доме на лоне природы,\n почувствуйте ни с чем не сравнимое\n чувство свободы.{% endif %}",
		"pos": "left-top",
		"thumb": "{{{ path }}}media/gallery/thumb-4.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-4@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-4.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-4@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-4.jpg"
	}, {
		"text": "{% if lang == 'ru' %}В тщательно проработанном\n ландшафте есть места и для\n уединённых размышлений, и для\n неспешных прогулок, и для\n весёлых детских игр.{% endif %}",
		"pos": "right-bottom",
		"thumb": "{{{ path }}}media/gallery/thumb-5.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-5@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-5.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-5@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-5.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Архитектура зданий жилого комплекса\n <b>Silver Hills</b> лаконична. При разработке\n внешнего облика жилого комплекса\n мы стремились создать теплый,\n прочный и элегантный фасад. {% endif %}",
		"pos": "left-top",
		"thumb": "{{{ path }}}media/gallery/thumb-6.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-6@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-6.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-6@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-6.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Можно любоваться разнообразием растений,\n согреваясь кофе или освежаясь мороженым.\n А можно собрать компанию друзей в одной\n из зон барбекю, каждая из которых\n обособлена и гарантирует безмятежность,\n сравнимую с пребыванием за городом.{% endif %}",
		"pos": "left-bottom",
		"thumb": "{{{ path }}}media/gallery/thumb-7.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-7@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-7.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-7@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-7.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Летом здесь легко представить себя\n на вилле где-то посреди тосканских\n холмов. Зимой украсьте патио\n гирляндой.{% endif %}",
		"pos": "left-top",
		"thumb": "{{{ path }}}media/gallery/thumb-8.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-8@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-8.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-8@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-8.jpg"
	}, {
		"text": "{% if lang == 'ru' %}Просторные планировки, дизайн лобби и мест\n общественного пользования на большой\n территории следуют принципу: лишним деталям\n здесь противопоставлена деликатная работа с\n материалами и формами.{% endif %}",
		"pos": "right-bottom",
		"thumb": "{{{ path }}}media/gallery/thumb-9.jpg",
		"thumb2x": "{{{ path }}}media/gallery/thumb-9@2x.jpg",
		"webp": "{{{ path }}}media/gallery/thumb-9.webp",
		"webp2x": "{{{ path }}}media/gallery/thumb-9@2x.webp",
		"photo": "{{{ path }}}media/gallery/photo-9.jpg"
	}];
</script>