.gallery-title {
	line-height: 1;
	color: white;
	position: absolute;
	z-index: 1;
}

.gallery-items {
	z-index: 0;
}

.gallery-slide {
	.img {
		background: $gray;
	}
	.text {
		white-space: pre-line;
		font-weight: 300;
	}
}

.gallery-controls {
	position: absolute;
	pointer-events: none;
	button {
		width: 54px;
		height: 54px;
		pointer-events: all;
		font-size: 120px;
		overflow: hidden;
		transition: opacity .3s, transform .3s;
		&::before {
			content: '';
			@include stretch;
			z-index: 0;
		}
	}
	.icon {
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
	}
	.disabled {
		pointer-events: none;
		opacity: 0;
	}
}

.gallery-prev {
	background: rgba(white, .9);
	color: black;
	&::before {
		border: 1px solid black;
	}
	.icon {
		left: 13px;
	}
}

.gallery-next {
	background: $brand-primary;
	color: white;
	&::before {
		border: 1px solid $brand-primary;
	}
	.icon {
		right: 13px;
	}
}