.gallery-title {
	line-height: 1;
	color: white;
	position: absolute;
	z-index: 1;
	text-transform: uppercase;
	font-weight: 300;
}

.gallery-items {
	z-index: 0;
}

.gallery-slide {
	.img {
		background: $gray;
	}
	.text {
		white-space: pre-line;
		font-weight: 300;
	}
}

.gallery-controls {
	position: absolute;
	pointer-events: none;
	button {
		width: 54px;
		height: 54px;
		pointer-events: all;
		font-size: 120px;
		overflow: hidden;
		transition: opacity .3s, transform .3s, background .3s;
		&::before {
			position: absolute;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
		}
		&::after {
			content: '';
			@include stretch;
			z-index: 0;
			border: 1px solid transparent;
		}
	}
	.disabled {
		pointer-events: none;
		opacity: 0;
	}
}

.gallery-prev {
	&::before {
		left: 13px;
	}
}

.gallery-next {
	&::before {
		right: 13px;
	}
}

[data-dir="prev"],
[data-dir="end"] {
	.gallery-prev {
		background: $brand-primary;
		color: white;
		&::after {
			border-color: $brand-primary;
		}
	}
	.gallery-next {
		background: rgba(white, .9);
		color: black;
		&::after {
			border-color: black;
		}
	}
}

[data-dir="next"],
[data-dir="start"] {
	.gallery-prev {
		background: rgba(white, .9);
		color: black;
		&::after {
			border-color: black;
		}
	}
	.gallery-next {
		background: $brand-primary;
		color: white;
		&::after {
			border-color: $brand-primary;
		}
	}
}
