<script type="text/javascript">
	const STATUS_DATA = [{
		"id": 1,
		"date": "01.06.2022",
		"formfactor": "book",
		"photos": [{
			"video": "https://www.youtube.com/watch?v=kPyByGtkjFA",
			"thumb": "{{{ path }}}media/status/2022-06/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-06/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-06/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2022-06/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2022-06/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-06/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-06/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-06/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2022-06/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2022-06/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-06/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-06/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-06/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2022-06/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2022-06/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-06/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-06/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-06/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2022-06/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2022-06/photo-4.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-06/thumb-5.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-06/thumb-5@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-06/thumb-5.webp",
			"webp2x": "{{{ path }}}media/status/2022-06/thumb-5@2x.webp",
			"photo": "{{{ path }}}media/status/2022-06/photo-5.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-06/thumb-6.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-06/thumb-6@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-06/thumb-6.webp",
			"webp2x": "{{{ path }}}media/status/2022-06/thumb-6@2x.webp",
			"photo": "{{{ path }}}media/status/2022-06/photo-6.jpg",
		}]
	}, {
		"id": 2,
		"date": "01.04.2022",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2022-04/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-04/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-04/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2022-04/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2022-04/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-04/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-04/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-04/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2022-04/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2022-04/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-04/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-04/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-04/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2022-04/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2022-04/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-04/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-04/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-04/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2022-04/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2022-04/photo-4.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-04/thumb-5.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-04/thumb-5@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-04/thumb-5.webp",
			"webp2x": "{{{ path }}}media/status/2022-04/thumb-5@2x.webp",
			"photo": "{{{ path }}}media/status/2022-04/photo-5.jpg",
		}]
	}, {
		"id": 3,
		"date": "01.03.2022",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2022-03/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-03/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-03/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2022-03/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2022-03/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-03/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-03/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-03/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2022-03/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2022-03/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-03/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-03/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-03/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2022-03/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2022-03/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-03/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-03/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-03/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2022-03/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2022-03/photo-4.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-03/thumb-5.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-03/thumb-5@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-03/thumb-5.webp",
			"webp2x": "{{{ path }}}media/status/2022-03/thumb-5@2x.webp",
			"photo": "{{{ path }}}media/status/2022-03/photo-5.jpg",
		}]
	}, {
		"id": 4,
		"date": "01.02.2022",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2022-02/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-02/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-02/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2022-02/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2022-02/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-02/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-02/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-02/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2022-02/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2022-02/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-02/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-02/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-02/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2022-02/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2022-02/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2022-02/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2022-02/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2022-02/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2022-02/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2022-02/photo-4.jpg",
		}]
	}, {
		"id": 5,
		"date": "01.12.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-12/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-12/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-12/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-12/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-12/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-12/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-12/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-12/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-12/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-12/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-12/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-12/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-12/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-12/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-12/photo-3.jpg",
		}]
	}, {
		"id": 6,
		"date": "01.11.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-11/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-11/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-11/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-11/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-11/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-11/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-11/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-11/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-11/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-11/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-11/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-11/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-11/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-11/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-11/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-11/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-11/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-11/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2021-11/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2021-11/photo-4.jpg",
		}]
	}, {
		"id": 7,
		"date": "01.10.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-10/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-10/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-10/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-10/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-10/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-10/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-10/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-10/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-10/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-10/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-10/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-10/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-10/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-10/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-10/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-10/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-10/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-10/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2021-10/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2021-10/photo-4.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-10/thumb-5.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-10/thumb-5@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-10/thumb-5.webp",
			"webp2x": "{{{ path }}}media/status/2021-10/thumb-5@2x.webp",
			"photo": "{{{ path }}}media/status/2021-10/photo-5.jpg",
		}]
	}, {
		"id": 8,
		"date": "01.09.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-09/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-09/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-09/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-09/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-09/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-09/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-09/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-09/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-09/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-09/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-09/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-09/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-09/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-09/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-09/photo-3.jpg",
		}]
	}, {
		"id": 9,
		"date": "01.08.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-08/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-08/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-08/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-08/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-4.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-08/thumb-5.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-5@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-5.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-5@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-5.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-08/thumb-6.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-6@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-6.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-6@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-6.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-08/thumb-7.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-08/thumb-7@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-08/thumb-7.webp",
			"webp2x": "{{{ path }}}media/status/2021-08/thumb-7@2x.webp",
			"photo": "{{{ path }}}media/status/2021-08/photo-7.jpg",
		}]
	}, {
		"id": 10,
		"date": "01.07.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-07/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-07/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-07/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-07/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-07/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-07/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-07/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-07/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-07/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-07/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-07/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-07/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-07/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-07/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-07/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-07/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-07/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-07/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2021-07/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2021-07/photo-4.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-07/thumb-5.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-07/thumb-5@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-07/thumb-5.webp",
			"webp2x": "{{{ path }}}media/status/2021-07/thumb-5@2x.webp",
			"photo": "{{{ path }}}media/status/2021-07/photo-5.jpg",
		}]
	}, {
		"id": 11,
		"date": "01.06.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-06/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-06/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-06/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-06/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-06/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-06/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-06/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-06/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-06/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-06/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-06/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-06/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-06/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-06/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-06/photo-3.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-06/thumb-4.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-06/thumb-4@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-06/thumb-4.webp",
			"webp2x": "{{{ path }}}media/status/2021-06/thumb-4@2x.webp",
			"photo": "{{{ path }}}media/status/2021-06/photo-4.jpg",
		}]
	}, {
		"id": 12,
		"date": "01.05.2021",
		"formfactor": "album",
		"photos": [{
			"thumb": "{{{ path }}}media/status/2021-05/thumb-1.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-05/thumb-1@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-05/thumb-1.webp",
			"webp2x": "{{{ path }}}media/status/2021-05/thumb-1@2x.webp",
			"photo": "{{{ path }}}media/status/2021-05/photo-1.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-05/thumb-2.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-05/thumb-2@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-05/thumb-2.webp",
			"webp2x": "{{{ path }}}media/status/2021-05/thumb-2@2x.webp",
			"photo": "{{{ path }}}media/status/2021-05/photo-2.jpg",
		}, {
			"thumb": "{{{ path }}}media/status/2021-05/thumb-3.jpg",
			"thumb2x": "{{{ path }}}media/status/2021-05/thumb-3@2x.jpg",
			"webp": "{{{ path }}}media/status/2021-05/thumb-3.webp",
			"webp2x": "{{{ path }}}media/status/2021-05/thumb-3@2x.webp",
			"photo": "{{{ path }}}media/status/2021-05/photo-3.jpg",
		}]
	}];
</script>