/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-up) {}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--status {
		padding: 38px 60px 48px;
	}

	.status-title {
		font-size: 84px;
		line-height: 109px;
	}

	.status-slide {
		.img {
			height: 300px;
		}
		&.book {
			width: 234px;
			&.active {
				.month {
					transform: translate(234px - 101px, 0) scale(1);
				}
			}
		}
		&.album {
			width: 568px;
			&.active {
				.month {
					transform: translate(568px - 101px, 0) scale(1);
				}
			}
		}
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--status {
		padding: 38px 40px 48px;
	}

	.status-title {
		font-size: 54px;
		line-height: 70px;
	}

	.status-slide {
		.img {
			height: 290px;
		}
		&.book {
			width: 214px;
			&.active {
				.month {
					transform: translate(214px - 101px, 0) scale(1);
				}
			}
		}
		&.album {
			width: 548px;
			&.active {
				.month {
					transform: translate(548px - 101px, 0) scale(1);
				}
			}
		}
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-phone) {}