/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--status {
	border: 1PX solid;
	margin-bottom: 50px;
	font-weight: 300;
}

.status-title {
	color: $gray;
	margin-bottom: 27px;
	left: -3px;
}

.status-items {
	overflow: visible;
}

.status-slide {
	padding-bottom: 48px;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s;
	.img {
		margin-bottom: 18px;
		background: $gray;
	}
	.date {
		position: relative;
		z-index: 1;
		font-size: 16px;
		line-height: 1;
		display: flex;
		justify-content: flex-end;
	}
	.month {
		font-size: 16px;
		color: $brand-primary;
		position: absolute;
		left: 30px;
		bottom: 0;
		transition: transform .6s;
		transform-origin: 0 0;
		transform: translate(0, -79px) scale(9.375);
	}
	.icon {
		position: absolute;
		pointer-events: none;
		z-index: 2;
		width: 50px;
		height: 50px;
		background: black;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		color: white;
		font-size: 20px;
		transition: background .3s;
		&::before {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
		}
	}
	a:hover {
		.icon {
			background: white;
			color: black;
		}
	}
	&.active,
	&.active ~ .slide {
		opacity: 1;
		pointer-events: all;
	}
	&.active {
		.month {
			font-size: 16px;
			color: $text-color;
		}
	}
}

.status-expiry {
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	.s--status {
		padding: 38px 60px 48px;
	}

	.status-title {
		font-size: 84px;
		line-height: 109px;
	}

	.status-slide {
		.img {
			height: 300px;
		}
		&.book {
			width: 234px;
			.month {
				left: 0;
			}
			&.active {
				.month {
					transform: translate(234px - 101px + 30px, 0) scale(1);
				}
			}
		}
		&.album {
			width: 568px;
			&.active {
				.month {
					transform: translate(568px - 101px, 0) scale(1);
				}
			}
		}
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	.s--status {
		padding: 38px 40px 48px;
	}

	.status-title {
		font-size: 54px;
		line-height: 70px;
	}

	.status-slide {
		.img {
			height: 290px;
		}
		&.book {
			width: 214px;
			.month {
				left: 0;
			}
			&.active {
				.month {
					transform: translate(214px - 101px + 30px, 0) scale(1);
				}
			}
		}
		&.album {
			width: 548px;
			&.active {
				.month {
					transform: translate(548px - 101px, 0) scale(1);
				}
			}
		}
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
// @include respond-to($respond-phone) {}