/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */

.s--flats {
	border: 1PX solid;
	border-bottom: 0;
}

.flats-column {
	height: 564px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.flats-left {
	.btn {
		position: absolute;
		left: 0;
		bottom: 12px;
	}
}

.flats-center {
	justify-content: space-between;
	padding: 0 40px;
}

.flats-right {
	padding-top: 9px;
}

.flats-title {
	font-size: 27px;
	line-height: 43px;
	margin-bottom: 19px;
}

.flats-rooms {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 16px;
	a {
		font-size: 18px;
	}
	ul {
		margin-left: 4px;
	}
	li + li {
		&::before {
			left: -6px;
			top: 11px;
			width: 10px;
		}
	}
}

.flats-types {
	font-size: 12px;
	margin-bottom: 37px;
	div {
		padding-right: 22px;
		&::before,
		&::after {
			top: 0;
		}
		&::before {
			width: 14px;
			height: 14px;
		}
		&::after {
			width: 6px;
			height: 6px;
			transform: translate(-4px, 4px) scale(0);
		}
	}
	.active {
		&::after {
			transform: translate(-4px, 4px) scale(1);
		}
	}
	div + div {
		margin-left: 30px;
	}
}

.flats-levels {
	font-size: 14px;
	margin-bottom: 33px;
	li + li {
		&::before {
			top: 12px;
		}
	}
}

.flats-areas {
	font-size: 12px;
	line-height: 16px;
	ul {
		margin-top: 14px;
	}
}

.flats-tabs {
	font-size: 12px;
	padding-bottom: 1px;
	li {
		padding-bottom: 5px;
		&::after {
			width: 40px;
		}
	}
	li + li {
		margin-left: 16px;
	}
}

.flats-subtitle {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 19px;
}

.flats-desc {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 6px;
	div + div {
		margin-left: 30px;
		&::before {
			left: -15px;
			top: 5px;
			height: 16px;
		}
	}
}

.flats-blocks {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 40px;
}

.flats-plan {
	$plan-width: 290px;//3782px;
	$plan-height: $plan-width*4171px/3782px;
	height: 400px;
	.address {
		$address-width: 330px;//273px;
		$address-height: $address-width*278px/273px;
		width: $address-width;
		height: $address-height;
		left: -2px;
		top: 19px;
	}
	.icon-roza {
		color: #AABDC5;
		right: -11px;
		top: 6px;
		font-size: 46px;
	}
	.icon-mountain {
		font-size: 105px;
		left: 2px;
		bottom: -49px;
	}
	.img {
		width: $plan-width;
		height: $plan-height;
		top: 7px;
		left: 16px;
	}
}




/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	$col-left: fluid(360px, 1187px);
	$col-right: fluid(314px, 1187px);
	$col-center: 100% - $col-left - $col-right;

	.s--flats {
		padding: 42px 60px;
	}

	.flats-left {
		width: $col-left;
	}

	.flats-center {
		width: $col-center;
	}

	.flats-right {
		width: $col-right;
	}

	.flats-rooms {
		li {
			width: 47px;
		}
	}

	.flats-levels {
		li + li {
			margin-left: 28px;
			&::before {
				left: -18px;
			}
		}
	}

	.flats-areas {
		max-width: 370px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	$col-left: fluid(260px, 855px);
	$col-right: fluid(230px, 855px);
	$col-center: 100% - $col-left - $col-right;

	.s--flats {
		padding: 42px 40px;
	}

	.flats-left {
		width: $col-left;
	}

	.flats-center {
		width: $col-center;
		padding-left: 40px;
	}

	.flats-right {
		width: $col-right;
	}

	.flats-rooms {
		li {
			width: 40px;
		}
	}

	.flats-levels {
		position: relative;
		left: -5px;
		a {
			text-align: center;
			display: block;
			width: 50px;
		}
		li + li {
			&::before {
				left: -4px;
			}
		}
	}

	.flats-plan {
		transform: scale(.75);
		transform-origin: 0 0;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



