<app-flats inline-template :in-view="inView.flats">
	<section class="section s--flats inview" data-inview="flats" id="flats" :class="{'ready': isLoaded}">

		<div class="flats-column flats-left">

			<h2 class="flats-title">
				{% if lang == 'ru' %} Квартиры {% endif %}
			</h2>

			<div class="flats-rooms" v-show="isLoaded">
				{% if lang == 'ru' %} Выберите комнатность {% endif %}
				<ul class="list--inline">
					<li v-for="(Room, index) in Rooms" :class="{active: SelectedRooms==Room}" :key="index">
						<a href="#" @click.prevent="SelectRooms(Room)">{{ Room }}</a>
					</li>
				</ul>
			</div>

			<div class="flats-types" v-show="isLoaded">
				<div v-for="(Type, index) in Types" :class="{active: SelectedType==Type}" @click.prevent="SelectTypes(Type)" :key="index">
					{% if lang == 'ru' %} {{ Type=='penthouse' ? 'Пентхаус' : Type=='2x' ? 'Двухуровневая' : '' }} {% endif %}
				</div>
			</div>

			<div class="flats-levels" v-show="isLoaded">
				<ul class="list--inline">
					<li v-for="(Level, index) in Levels" :key="index" :class="{active: SelectedLevel==Level}">
						<a href="#" @click.prevent="SelectLevel(Level)">
							{{ Level }}<br class="visible-md" />
							{% if lang == 'ru' %} этаж {% endif %}
						</a>
					</li>
				</ul>
			</div>

			<div class="flats-areas" v-show="isLoaded">
				{% if lang == 'ru' %} Выберите площадь, m² {% endif %}
				<ul class="list--inline">
					<li v-for="(Area, index) in Areas" :key="index" :class="{active: SelectedArea==Area}">
						<a href="#" class="link--block" @click.prevent="SelectArea(Area)">{{ Area }}</a>
					</li>
				</ul>
			</div>

			<button type="button" class="btn btn--primary hidden-xs" @click="openForm()">
				{% if lang == 'ru' %} отправить заявку {% endif %}
			</button>

		</div>

		<div class="flats-column flats-center" v-show="isLoaded">

			<div class="flats-viewport" :class="{ active: ImageLoaded }">
				<span v-show="!ImageLoaded" class="loader"></span>
				<a href="#" :href="SelectedView=='default' ? Flat.img : Flat.socle" class="link--block flats-zoom" aria-label="zoom" v-show="ImageLoaded">
					<img width="400" height="400" :src="SelectedView=='default' ? Flat.img : Flat.socle" alt="image" />
				</a>
			</div>

			<div class="flats-tabs" v-if="Flat.socle">
				<ul class="list--inline">
					<li :class="{active: SelectedView=='default'}">
						<a href="#" @click.prevent="SelectedView='default'">
							{% if lang == 'ru' %} План этажа {% endif %}
						</a>
					</li>
					<li :class="{active: SelectedView=='socle'}">
						<a href="#" @click.prevent="SelectedView='socle'">
							{% if lang == 'ru' %} Цокольный этаж {% endif %}
						</a>
					</li>
				</ul>
			</div>

			<div class="flats-subtitle visible-xs">
				{{ Flat.rooms }}
				{% if lang == 'ru' %}-комнатная {{ Flat.type=='2x' ? 'с террасой' : '' }} {% endif %}
			</div>

			<div class="flats-desc hidden-sm hidden-md hidden-lg">
				<div class="area">{{ Flat.area }} m²</div>
				<div class="level">{{ Flat.level }} {% if lang == 'ru' %}этаж{% endif %}</div>
			</div>

			<div class="flats-blocks visible-xs">
				{% if lang == 'ru' %} Блок {% endif %}
				<span>
					<template v-for="(Block, index) in Blocks" :key="index">{{ index>0 ? ',' : ''}}{{ Block }}</template>
				</span>
			</div>

			<button type="button" class="btn btn--primary visible-xs" @click="openForm()">
				{% if lang == 'ru' %} отправить заявку {% endif %}
			</button>

		</div>

		<div class="flats-column flats-right" v-show="isLoaded">

			<div class="flats-subtitle hidden-xs">
				{{ Flat.rooms }}
				{% if lang == 'ru' %}-комнатная {{ Flat.type=='2x' ? 'с террасой' : '' }} {% endif %}
			</div>

			<div class="flats-desc hidden-xs">
				<div class="area">{{ Flat.area }} m²</div>
				<div class="level">{{ Flat.level }} {% if lang == 'ru' %}этаж{% endif %}</div>
			</div>

			<div class="flats-blocks hidden-xs">
				{% if lang == 'ru' %} Блок {% endif %}
				<span>
					<template v-for="(Block, index) in Blocks" :key="index">{{ index>0 ? ',' : ''}}{{ Block }}</template>
				</span>
			</div>

			<div class="flats-plan">
				<i class="icon icon-roza"></i>
				<i class="icon icon-mountain"></i>
				<div class="img">
					{% include "section-flats/_level.1.html" %}
					{% include "section-flats/_level.2.html" %}
					{% include "section-flats/_level.3.html" %}
					{% include "section-flats/_level.4.html" %}
					{% include "section-flats/_level.5.html" %}
				</div>
				<div class="address"></div>
			</div>

		</div>

	</section>
</app-flats>