/*
	styles for Tablet and Desktops
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-up) {}



/*
	styles for Desktop and Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop-up) {

	.s--commercial {
		border-bottom: 0;
		display: flex;
		height: 663px;
	}

	.commercial-title {
		font-size: 27px;
		line-height: 38px;
		left: -2px;
		margin-bottom: 37px;
	}

	.commercial-areas {
		min-height: 187px;
		label {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 13px;
		}
	}

	.commercial-icon {
		font-size: 67px;
		right: -18px;
		top: 23px;
	}

	.commercial-viewport {
	  padding: 32px 20px;
	  height: 554px;
		.img {
			height: 490px;
		}
	}

	.commercial-img {
		margin-bottom: 33px;
		path {
			transition: all 1.5s;
		}
		&.aos-animate path {
			stroke-dashoffset: 0;
		}
	}

}



/*
	styles for Large Desktops
 -------------------------------------------------------------------- */
@include respond-to($respond-large) {

	$col-left: fluid(500px, 1206px);
	$col-right: 100% - $col-left;

	.s--commercial {
		padding: 52px 60px 56px;
	}

	.commercial-left {
		width: $col-left;
	}

	.commercial-right {
		width: $col-right;
	}

	.commercial-areas {
		max-width: 350px;
	}

	.commercial-img {
		width: 379px;
		height: 162px;
		left: -38px;
	}

}



/*
	styles for Desktop
 -------------------------------------------------------------------- */
@include respond-to($respond-desktop) {

	$col-left: fluid(350px, 855px);
	$col-right: 100% - $col-left;

	.s--commercial {
		padding: 52px 40px 56px;
	}

	.commercial-left {
		width: $col-left;
	}

	.commercial-right {
		width: $col-right;
	}

	.commercial-img {
		$img-width: 320px;//379px;
		$img-height: $img-width*162px/379px;
		width: $img-width;
		height: $img-height;
		left: -20px;
	}

}



/*
	styles for Desktop and Small
 -------------------------------------------------------------------- */
// @include respond-to($respond-desktop-down) {}



/*
	styles for Tablet and Phones
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet-down) {}



/*
	styles for Tablet
 -------------------------------------------------------------------- */
// @include respond-to($respond-tablet) {}



/*
	styles for Phone
 -------------------------------------------------------------------- */
@include respond-to($respond-phone) {

	.s--commercial {
		padding: 62px 20px 38px;
		overflow: hidden;
	}

	.commercial-left {
		display: flex;
		flex-direction: column;
	}

	.commercial-title {
		font-size: 36px;
		line-height: 48px;
		margin-bottom: 38px;
		order: 2;
	}

	.commercial-areas {
		order: 3;
		label {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 18px;
		}
	}

	.commercial-icon {
		font-size: 58px;
		right: 0;
		top: -5px;
	}

	.commercial-viewport {
	  padding: 65px 20px 20px;
	  height: 560px;
		.img {
			height: 480px;
		}
	}

	.commercial-img {
		order: 1;
		$img-width: 326px;//379px;
		$img-height: $img-width*162px/379px;
		width: $img-width;
		height: $img-height;
		left: -32px;
		margin-bottom: 27px;
		path {
			stroke-dashoffset: 0;
		}
	}

}