.s--commercial {
	border: 1PX solid;
	border-bottom: 0;
	display: flex;
	height: 663px;
}

.commercial-column {
	position: relative;
}

.commercial-title {
	font-size: 27px;
	line-height: 38px;
	left: -2px;
	margin-bottom: 37px;
}

.commercial-areas {
	min-height: 187px;
	label {
		display: block;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
		font-style: italic;
		margin-bottom: 13px;
	}
	a {
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: black;
		border: 1PX solid;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
		width: 60px;
		height: 32px;
	}
	span {
		position: relative;
		top: -1px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	li {
		margin: 0 10px 10px 0;
		&.active a {
			font-size: 14px;
			font-weight: bold;
			color: white;
			border-color: $brand-primary;
			background: $brand-primary;
			pointer-events: none;
			span {
				top: auto;
			}
		}
	}
}

.commercial-icon {
	position: absolute;
	pointer-events: none;
	font-size: 67px;
	color: $brand-primary;
	right: -18px;
	top: 23px;
}

.commercial-viewport {
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  padding: 32px 20px;
  position: relative;
  height: 554px;
  a {
  	transition: opacity .3s;
  	&:hover {
  		opacity: .7;
  	}
  }
	.img {
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
		height: 490px;
	}
	img {
		width: auto;
		height: auto;
		max-height: 100%;
	}
}

.commercial-img {
	position: relative;
	margin-bottom: 33px;
}