.s--commercial {
	border: 1PX solid;
}

.commercial-column {
	position: relative;
}

.commercial-areas {
	label {
		display: block;
		font-weight: bold;
		font-style: italic;
	}
	a {
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: black;
		border: 1PX solid;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
		width: 60px;
		height: 32px;
	}
	span {
		position: relative;
		top: -1px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	li {
		margin: 0 10px 10px 0;
		&.active a {
			font-size: 14px;
			font-weight: bold;
			color: white;
			border-color: $brand-primary;
			background: $brand-primary;
			pointer-events: none;
		}
	}
}

.commercial-icon {
	position: absolute;
	pointer-events: none;
	color: $brand-primary;
}

.commercial-viewport {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  position: relative;
  &:not(.ready) {
  	visibility: hidden;
  	pointer-events: none;
  }
  a {
  	transition: opacity .3s;
		display: flex;
		flex-direction: column;
		justify-content: center;
    align-items: center;
  	&:hover {
  		opacity: .7;
  	}
  }
	img {
		width: auto;
		height: auto;
		max-height: 100%;
	}
}

.commercial-img {
	position: relative;
}